body {
	font-family: "Times new roman", serif;
	background-color: #f2fffc;
	font-size: 16px;
}
h1, h2 {
	font-family: "Ubuntu", sans-serif;
}
h1 {
	font-size: 60px;
	text-align: center;
	background-color: rgb(133, 25, 68);
	color: #ffffff;
}
h2 {
	font-size: 36px;
}
p {
	font-size: 16px;
	text-align: justify;
}