body {
	font-family: "Crimson Text", "Times new roman", serif;
	background-color: #f2fffc;
	font-size: 120%;
	line-height: 120%;
}
h1, h2 {
	font-family: "Open Sans Condensed", "Ubuntu", sans-serif;
}
main h1 {
	text-align: center;
	background-color: rgb(133, 25, 68);
	color: #ffffff;
	padding: 10px;
	border-bottom: 10px solid #000000;
}
main div {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}
p {
	text-align: justify;
}

a:link {
	color: #3333ff;
	text-decoration: none;
}
footer {
	background-color: #111111;
	color: #FFFFFF;
	text-indent: 10px;
	width: 100%;
	height: 28px;
	border-radius: 5px 5px;
}
aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
}
aside a {
	font-family: "Open Sans Condensed", "Ubuntu", sans-serif;
	color: inherit;
}
blockquote {
	background-color: #D9E5E3;
	padding: 20px;	
	border: 10px solid #C2CCCA;
}