body {
	font-family: "Crimson Text", "Times new roman", serif;
	background-color: #f2fffc;
	font-size: 18px;
}
h1, h2 {
	font-family: "Open Sans Condensed", "Ubuntu", sans-serif;
}
main h1 {
	font-size: 60px;
	text-align: center;
	background-color: rgb(133, 25, 68);
	color: #ffffff;
}
h2 {
	font-size: 32px;
}
p {
	font-size: 16px;
	text-align: justify;
}

a:link {
	font-size: 16px;
	color: #3333ff;
	text-decoration: none;
}
footer {
	background-color: #111111;
	border-radius: 2px 2px;
	color: #FFFFFF;
	text-indent: 10px;
	width: 100%;
	height: 28px;
	border-radius: 5px 5px;
}