body {
	font-family: "Crimson Text", "Times new roman", serif;
	background-color: #f2fffc;
	font-size: 120%;
	line-height: 120%;
}
h1, h2 {
	font-family: "Open Sans Condensed", "Ubuntu", sans-serif;
}
main {
	width: 80%;
	padding-bottom: 80px;
	float: left;
}
blockquote {
	box-sizing: border-box;
}
main h2 {
	font-size: 30px;
	clear: both;
}
aside a {
	font-family: "Open Sans Condensed", "Ubuntu", sans-serif;
	color: inherit;
}
nav a {
	text-transform: lowercase;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
p {
	text-align: justify;
	margin-bottom: 20px;
	margin-top: 20px;
}
footer {
	width: 100%;
	background-color: #111111;
	color: #FFFFFF;
	padding: 20px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
a:link {
	text-decoration: none;
}
.titulo-h1 {
	font-size: 60px;
	text-align: center;
	background-color: rgb(133, 25, 68);
	color: #ffffff;
	padding: 20px;
	border-bottom: 10px solid #000000;
	text-transform: uppercase;
}
.artigo {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.conteudo-principal {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.navegacao-site {
	background-color: #3C1D3D;
	padding: 20px;
	color: #F2FFFC;
	text-align: center;
}
.navegacao-site a {
	color: #FFFFFF;
}
.titulo-menu-navegacao {
	font-size: 30px;
	margin-bottom: 25px;
}
.img-icons li {
	display: inline-block;
}
.img-icons a {
	width: 40px;
	height: 40px;
	display: block;
	font-size: 0px;
}
.github {
	background-image: url(../static/github.png);
}
.twitter {
	background-image: url(../static/twitter.png);
}
.linkedin {
	background-image: url(../static/linkedin.png);
}
.citacao {
	background-color: #D9E5E3;
	padding: 20px;	
	border: 10px solid #C2CCCA;
	width: 250px;
	margin: 20px 0px;
}
.clearfix {
	clear: both;
}
.leia-mais {
	padding: 8px;
	margin: 16px;
	text-align: center;
	font-size: 24px;
	display: block;
	background-color: #E6E7E8;
	border-radius: 7px;
	color: gray;
}
.tags-footer {
	margin: 10px 0px;
	padding: 8px 0;
}
.tags-footer a {
	padding: 1px 3px;
	background-color: #E6E7E8;
	border-radius: 7px;
	color: chocolate;
}
.fiat {
	margin-left: 20px;
	float:right;
}
.petrobras {
	margin-right: 20px;
	float: left;
}
.minha-foto, .navegacao-site {
	width: 20%;
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}
.minha-foto {
	width: 290px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.navegacao-site {
	position: relative;
	top: 290px;
}